<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32001">
		<setting type="lsep" label="32001"/>
		<setting type="sep"/>
		<setting id="default" type="enum" label="32015" default="32023" lvalues="32023|32024|32045"/>
		<setting id="notif" type="bool" label="32003" visible="eq(-1,0)" default="true"/>
		<setting id="delay" type="slider" label="32004" default="0" range="0, 30" option="int"/>
		<setting id="debug" type="bool" label="32002" default="false"/>
		<setting id="debugcheck" type="bool" label="32002" default="false" visible="false"/>
	</category>
	<category label="32007">	
		<setting type="lsep" label="32037"/>
		<setting type="sep"/>
		<setting id="excludesub" type="bool" default="false" label="32005"/>
		<setting id="excludesublang1" type="select" visible="eq(-1,true)" label="32006" default="English" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting id="excludesublang2" type="select" visible="eq(-2,true)" label="32006" default="-----" values="-----|Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting id="excludesublang3" type="select" visible="eq(-3,true)" label="32006" default="-----" values="-----|Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting id="excludeaudio" type="bool" default="false" label="32036"/>
		<setting id="excludeaudiolang1" type="select" visible="eq(-1,true)" label="32006" default="English" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting id="excludeaudiolang2" type="select" visible="eq(-2,true)" label="32006" default="-----" values="-----|Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting id="excludeaudiolang3" type="select" visible="eq(-3,true)" label="32006" default="-----" values="-----|Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting id="audiound" type="bool" label="32043" default="true" visible="eq(-4,true)"/>
		<setting type="lsep" label="32038"/>
		<setting type="sep"/>
		<setting id="excludewords" type="text" default="theme" label="32009"/>
		<setting id="excludetime" type="slider" label="32008" default="0" range="0, 60" option="int"/>
		<setting type="lsep" label="32039"/>
		<setting type="sep"/>
		<setting id="excludelivetv" type="bool" label="32010" default="true"/>
		<setting id="excludehttp" type="bool" label="32011" default="false"/>
		<setting id="excludeaddon" type="addon" addontype="xbmc.addon.video" label="32035" multiselect="true" default=""/>
		<setting type="lsep" label="32040"/>
		<setting type="sep"/>
		<setting id="excludepath" type="bool" label="32012" default="false" />
		<setting id="path" type="folder" source="video" label="32013" default="" visible="eq(-1,true)"/>
		<setting id="excludepath2" type="bool" label="32012" default="false" visible="eq(-2,true)"/>
		<setting id="path2" type="folder" source="video" label="32013" default="" visible="eq(-1,true)"/>
		<setting id="excludepath3" type="bool" label="32012" default="false" visible="eq(-2,true)"/>
		<setting id="path3" type="folder" source="video" label="32013" default="" visible="eq(-1,true)"/>
		<setting id="excludepath4" type="bool" label="32012" default="false" visible="eq(-2,true)"/>
		<setting id="path4" type="folder" source="video" label="32013" default="" visible="eq(-1,true)"/>
		<setting id="excludepath5" type="bool" label="32012" default="false" visible="eq(-2,true)"/>
		<setting id="path5" type="folder" source="video" label="32013" default="" visible="eq(-1,true)"/>
	</category>
	<category label="32014">
		<setting type="lsep" label="32027"/>
		<setting type="sep"/>
		<setting id="sublang1" type="select" label="32018" visible="true" default="English" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting id="sublang2" type="select" label="32019" visible="true" default="-----" values="-----|Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting id="sublang3" type="select" label="32020" visible="true" default="-----" values="-----|Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu"/>
		<setting type="lsep" label="32041"/>
		<setting type="sep"/>
		<setting id="best" type="bool" label="32044" visible="true" enable="false" default="true"/>
		<setting id="flex" type="bool" label="32017" visible="true" default="true"/>
		<setting id="anysub" type="bool" label="32022" default="false" enable="eq(-1,true)"/>
		<setting id="subsearch" type="bool" label="32021" visible="true" default="true"/>
	</category>
	<category label="32032">
		<setting type="lsep" label="32042"/>
		<setting type="sep"/>
		<setting id="OScustomuser" type="bool" label="32028" visible="true" default="false"/>
		<setting id="OSuser" type="text" label="32029" default="" visible="eq(-1,true)"/>
		<setting id="OSpassword" type="text" option ="hidden" label="32030" default="" visible="eq(-2,true)"/>
		<setting id="OSuserhelp" type="text" label="32031" default="" visible="eq(-3,false)" enable="false"/>
		<setting id="OSusercheck" type="text" label="OSUser" visible="false" default="nouser"/>
		<setting id="OSpasswordcheck" type="text" option ="hidden" label="OSPassword" default="nopassword" visible="false"/>	
	</category>
	<!-- test visible="eq(-1,0)"-->
</settings>
